#wrap {
  float: left;
  position: relative;
  left: 50%;
}

#content {
  float: left;
  position: relative;
  left: -50%;
}

#container-form {
  position: absolute;
  left: -5px;
  margin-top: 120px;
}

#form-text{
  font-size: 13px;
}

#checkbox-text {
  display: block;
  font-size: 10px;
  text-indent: -20px
  
}

#checkbox-and-disclaimer {
  position: relative;
  display: block;
  right: -15px;

}

#input-box {
  position: relative;
  top: 17px;
}

input[type=text], input[type=password], select {
  width: 105%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #ecebeb;
}