$font-family-inter: 'Inter', sans-serif;
$font-weight-normal: 400;
$font-size-large: 16px;
$font-size-small: 12px;
$font-size-medium: 14px;
$line-height-large: 22.4px;
$line-height-medium: 19.6px;
$line-height-small: 16.8px;
$font-weight-header: 600;
$font-size-h1: 38px;
$line-height-h1: 53.2px;
$font-size-h4: 24px;
$line-height-h4: 33.6px;


@mixin mini-header {
    font-family: $font-family-inter;
    font-weight: $font-weight-normal;
    font-size: $font-size-large;
    line-height: $line-height-large;
  }

@mixin validation {
    font-family: $font-family-inter;
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    line-height: $line-height-small;
}

@mixin h1 {
    font-family: $font-family-inter;
    font-weight: $font-weight-header;
    font-size: $font-size-h1;
    line-height: $line-height-h1;
}

@mixin medium {
    font-family: $font-family-inter;
    font-weight: $font-weight-normal;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
}

@mixin h4 {
    font-family: $font-family-inter;
    font-weight: $font-weight-header;
    font-size: $font-size-h4;
    line-height: $line-height-h4;
}


.header-container{
    h1 {
        margin: 0;
    }
    .h1 {
        @include h1();
        position: relative;
        width: 413px;
    }
    .h3 {
        @include h4();
        position: relative;
        width: 368px;
    }
    display: flex;
    align-items: left;
    height: 101px;
    width: 413px;
    flex-direction: column;
    top: 126px;
    left: 513px;
    position: absolute;
}

.signup-image {
    width: 337.48px;
    height: 400.17px;
    top: 288px;
    left: 254px;
    transform: scaleX(-1);
    position: absolute;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 250px;
    left: 732px;
    width: 456px;
    position: absolute;
}

.visibility-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35px;
    right: 0;
}

.visibility-icon {
    width: 16px;
    height: 16px;
}

.input-common {
    position: relative;
    h3 {
        margin: 0;
    }

    input:not(.input-passwordre) {
        margin-bottom: 25px;
    }

    input {
        margin: 0;
        width: 100%; 
        height: 40px;
        background-color: #ECEBEB;
        border-radius: 4px;
        border: none; 
    }

    .input-passwordre {
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 0px;
    }
}

.validation-container {
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
    }
}

.notification-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap: 10px;
    padding: 2px;
    .notification-input {
        height: 16px;
        width: 16px;
    }
    .notification-text {
        max-width: 100%; 
        word-wrap: break-word; 
        margin-bottom: 25px;
    }
}

.button-container {
    button {
        width: 100%;
        height: 43px;
        border-radius: 4px;
        border: none; 
    }
    .submit-invalid {
        background-color: #ECEBEB;
    }
    .submit-valid {
        background-color: #FA9413;
    }
}

.minchar-valid, .hasuppercase-valid, .haslowercase-valid, .hasspecialchar-valid, .passwordmatch-valid, .email-valid{
    @include validation();
    color: #23A6A1
}

.minchar-invalid, .hasuppercase-invalid, .haslowercase-invalid, .hasspecialchar-invalid, .passwordmatch-invalid, .email-invalid{
    @include validation();
    color: #D90000
}
    
.mini-header {
    @include mini-header()
}
