.signup-form {
  width: 456px;
  height: 572px;
  display: flex;
  flex-direction: column;
}

.input-divs{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;


  label {
    font-size: 16px;
    height: 19px;
    padding-bottom: 3px;
  }

  input{
    height: 20px;
    width: 448px;
    padding: 10px;
    border-radius: 4px;
    border-width: 0px;
    background-color: #ECEBEB;
  }
}

.password-div {
  position: relative;
  display: flex;

  span{
    position: absolute;
    top: 25%;
    right: 2%;
  }
}

.checkbox-div {
  display: flex;
  margin-top: 0px;
  input {
  font: inherit;
  color: #022888;
  min-width: 20px;
  height: 20px;
  border: 1px solid #022888;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 20px;
  }

  p{
    font-size: 14px;
    height: 59px;
    width: 390px;
  }


}

.password-validations {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  p{
    padding: 0px;
    margin: 0px;
    color: #23A6A1;
    font-size: 12px;
    font-weight: 400px;
  }
}

.submit-button:disabled{
  height: 40px;
  border-radius: 4px;
  border-width: 0px;
  background-color: #ECEBEB;
  font-size: 16px;
  color: black;
}

.submit-button:enabled{
  height: 40px;
  border-radius: 4px;
  border-width: 0px;
  background-color: #FA9413;
  font-size: 16px;
  color: black;
  cursor: pointer;
}



