#sign-up-btn {
    width: 100%;
    height: 43px;
    background-color: #FA9413;
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    color: var(--charcoal-313335, #313335);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
}