.landing-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .heading-container {
    h1 {
      margin-bottom: 0;
      font-size: 2.375rem;
      font-style: normal;
      font-weight: 600;
    }

    h2 {
        margin: 1rem 0;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-around;

    img{
        max-width: 24rem;
    }
  }
}
