
.rectangle-image {
  url: ''
}
/* Heading 2 */
.h2 {
  color: #000;
font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 53.2px; /* 140% */
}

/* Heading 4 */
.h4 {
color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 33.6px;
 } /* 140% */

 //Rectangle .png in case I don't want to leave it project folder and would rather instead use a link:
//  https://postimg.cc/NL0VhBQ6