@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.signup-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  font-family: Inter;

  .header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    width: 100%;
  }

  .header-grid {
    align-items: left;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 450px;
    margin-top: 20px;
    padding: 10px;

    h2 {
      margin: 0;
      font-size: 38px
    }

    & h4 {
      font-size: 24px;
    }
  }

  .body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .signup-form-container > .signup-form-text-input:not(:first-child)  {
      margin-top: 28px;
    }

    .signup-form-container {
      width: 50%;

      .signup-form-text-input {
        display: flex;
        flex-direction: column;

        label {
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 8px;
        }
      }

      .signup-form-pw-valid-msgs {
        font-size: 12px;
        line-height: 6px;
        color: #D90000;

        & .valid {
          color: #23A6A1;

        }
      }

      .signup-form-pw-match-msgs {
        font-size: 12px;
        line-height: 6px;
        color: #23A6A1;
      }

      .signup-form-checkbox-input {
        margin-top: 16px;
      }

      .signup-form-submit {
        margin-top: 35px;

      }
    }
  }
}
