.sign-up-container {
  h1, h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .featured-image {
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(39% 13%,66% 27%,66% 57%,39% 67%,12% 58%,11% 27%);
    background-size: cover;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0.5rem;
  }
}