// Password label & input
label.password-field {
  display: block;
  margin: 0.5rem 0;

  & > div.password-input-field {
    width: 100%;
    display: flex;
    align-items: center;

    & > input {
      width: 100%;
      height: 3rem;
      border: none;
      border-radius: 0.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1rem;
      padding: 0.5rem;
      box-sizing: border-box;
      background-color: #f1f3f5;
      border: 1px solid transparent;
    }

    & > button[type='button'] {
      width: 3rem;
      height: 3rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & > p {
    margin: 0 0 0.5rem 0;

    &.validation {
      min-height: 1rem;
      font-size: 0.75rem;
      color: #868e96;

      & > span {
        display: block;

        &.valid {
          color: #40c057;
        }

        &.invalid {
          color: #fa5252;
        }
      }
    }
  }
}
