// Text labels
label {
  display: block;
  margin: 0.5rem 0;

  & > div.password-field {
    width: 100%;
    display: flex;
    align-items: center;

    & > * {
      height: 3rem;
    }

    & > input {
      width: 100%;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      padding: 0.5rem;
      box-sizing: border-box;
      background-color: #f1f3f5;
      border: 1px solid transparent;
    }

    & > button {
      width: 3rem;
    }
  }

  // & p {
  //   margin: 0 0 0.25rem 0;

  //   &.error-message {
  //     min-height: 1rem;
  //     font-size: 0.85rem;
  //     visibility: hidden;
  //     color: #40c057;
  //   }
  // }

  // &.invalid {
  //   & input[type='text'],
  //   & input[type='email'],
  //   & input[type='password'] {
  //     border-color: #fa5252;
  //   }

  //   & p.error-message {
  //     visibility: visible;
  //     color: #fa5252;

  //     & > span {
  //       display: block;
  //     }
  //   }
  // }
}
